body {
  font-family: sans-serif;
  background-color: #393e46;
  color: #00adb5;
}
.App {
  max-width: 950px;
  margin: 0 auto;
}
.App h1 {
  font-size: 3rem;
  margin: 1rem 0 0 0;
}
.App p {
  font-size: 1rem;
}
.input-wrapper {
  position: relative;
}
.input-wrapper label {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #fff;
}
.input-wrapper input {
  position: absolute;
  left: 40px;
  top: 6px;
  z-index: -1;
}
.result {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
}
.result img {
  margin-top: 1rem;
  display: inline-block;
  width: 400px;
  height: 400px;
  object-fit: contain;
}
.box-p {
  border: 10px solid #00adb5;
  background-color: #fff;
  padding: 20px 40px;
  color: black;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.box-p p {
  width: 400px;
}
@media screen and (max-width: 800px) {
  .result {
    display: flex;
    flex-direction: column;
  }
}
