:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  background-color: var(--magnolia);
  height: 100vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr min(968px, 96%) 1fr;
  grid-template-rows: 1fr min(768px, 96%) 1fr;
  line-height: 1.25;
  color: var(--marine-blue);
}

body > *{
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  height: 100%;
}
