@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  height: 100px;
  width: 100%;
}
nav ul {
  width: 90%;
  height: 100%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 70px;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1.5px;
  color: black;
  font-family: "Antic Slab", serif;
  background-color: #a0d995;
  padding: 10px 20px;
  transition: 0.3s;
}
a:hover {
  background-color: black;
  color: #fff;
}
