@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e9d5ca;
}

h1 {
  margin: 15px;
  font-family: "Antic Slab", serif;
  letter-spacing: 1.3px;
}

input {
  width: 500px;
  padding: 14px 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 0.3px solid black;
  background-color: #363062;
  color: white;
  border: none;
}
input::placeholder {
  color: white;
}
input:focus {
  outline: none;
}

h3 {
  margin-top: 10px;
  font-family: "Antic Slab", serif;
}

p {
  margin: 10px 0;
  font-family: "Antic Slab", serif;
  margin-bottom: 25px;
}

.dataContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.data {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  background-color: #827397;
  padding-top: 20px;
  border-radius: 10px;
  letter-spacing: 1.5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s;
}
.data:hover {
  opacity: 0.5;
  transform: scale(1.1);
}

