.headerWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.imageWrapper {
  img {
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
}

.createdAt {
  color: var(--grayish-blue);
  font-size: 14px;
}

.username {
  font-weight: 500;
  font-size: 16px;
  color: var(--dark-blue);
}

.youIndicator {
  background-color: var(--moderate-blue);
  color: var(--white);
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 4px;
}

.actionButtons {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}
