* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 1.25;
  color: var(--grayish-blue);
  background-color: var(--very-light-gray);
}

html,
#root,
body,
.container {
  height: 100%;
}

.container {
  display: grid;
  margin-top: 48px;
  grid-template-columns: 1fr min(768px, 96%) 1fr;
}

.container > * {
  grid-column: 2;
}
