.replies {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 64px;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--light-gray);
    content: "";
    left: -32px;
    border-radius: 999px;
  }
}
