.editorWrapper {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  background-color: var(--white);
  padding: 24px;
  border-radius: 16px;

  .userImage {
    width: 36px;
    height: 36px;
    border-radius: 999px;
  }
}
